.authWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--gray-800);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/ezeiza.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}